/*Styling for tittelen på about.html*/
.headerabout {
	margin-left: 6%;
	margin-top: 60px;
}

/*Kode for sections (no/en)*/
.about-textwrap {
	position: absolute;
	margin-left: 10%;
	margin-right: 60%;
    text-align: justify; 
    margin-top: 150px;
    line-height: 170%; 
}

/*Bilde style*/
#souschef_about {
	position: fixed;
	height: 105%;
	width: 50%;
	margin-left: 50%;
	margin-top: -10px;
}

