.headerabout {
	position: fixed;
	text-transform: uppercase;
	margin-left: 6%;
	margin-top: 60px;
}

.about {
	position: absolute;
	margin-left: 10%;
	margin-right: 60%;
    text-align: justify; 
    margin-top: 150px;
    line-height: 170%; 
}

#souschef_about {
	position: fixed;
	height: 105%;
	width: 50%;
	margin-left: 50%;
	margin-top: -10px;
}

