/*Kode for contact*/

.samfpiccontainer img{ 
    position: fixed;
    display: block;
    width: 40%;
    height: auto;
    background-size: 100vh;
  }
  
  /*Picture on the page - 100% of the container above */
  .samfpic{
    height: auto;
    width: 100%;
    /*transform: scaleX(1);
    transform-box: */
  }

  /* Responsive picture*/ 
  /*@media screen and min-width*/
  
  /*The title on the contact page*/
  .contacttitle {
    position: absolute;
    color: white;
    margin: 2% 0 0 0; 
    left: 5%;
    z-index: 10;
  }

  h1{
  font-size: 30px; 

  }

  /*Textwrap*/
  .wrapcontact{
    position: relative;
    right: 0; 
    width: 50%; 
    margin: 0 50%;
    line-height: 60%; 
    padding-bottom: 10%;
  }
  
  /*Styling for the middle titles*/
  .wrapcontact h2{
    padding-top: 2%; 
  }
  
  /*Adding some space before text*/
  .br {
    padding-top: 1%;
  }
  
  /*Positioning and sizing of the map on the page*/
  #kart {
    position: relative;
    width: 50%
  
  }
  