/* Split the screen in half */
html{
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  background-color: #ebe9e6;

}

body{ 
  margin: 0; 
  font-size: 16px; 
  line-height: 200%;
  font-style: normal;
  font-weight: 400;
  background-color: #ebe9e6;
}

section{
  background-color: #ebe9e6;
  z-index: 10;
}

header{
  width: 100%; 
  
}


.header-container{
  width: 100%; 
  height: 100vh;
  display: block;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-image: url("../img/index/andesalat.png");
  background-size: cover;
  background-position: center center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.layer{
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#lyche-header-logo{
  z-index: 1;
  opacity: 1;
  position: fixed;
  display: block;
  width: 50%; 
  padding: 15% 25% 15% 25%;
}

section #lyche-header-logo{
  display: hidden; 
}

.split {
    display: block;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 10;
    top: 0;
    
  }
  
  /* Control the left side */
  .indextext {
    position: relative;
    display: inline-block;
    width: 30%;
    padding-right: 10%; 
    padding-left: 10%; 
    left: 0;

  }
  
  /* Control the right side */
  .indeximg {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 50%
    
  }

  .indeximg img{
    position: relative;
    width: 100%; 
  }

  .en{
    display: none;
  }

 
  
  /* Style the image inside the centered container, if needed */

  .navbar-push{
    height: 10px; 
  }

  #navBar{
    position:  fixed; 
    background-color: black;
    width: 100%;

    height: 10%; 
    z-index: 10;
  }

  #navBar .container{
    align-content: center ; 
    max-height: 10%; 
    position: inherit;
    align-content: inherit; 

  }

  #session-status{
    position: absolute;
    float: right;
  }
