
html{
  font-family: Futura-pt, Lato, Trebuchet MS, Arial, sans-serif;
}

body{ 
  margin: 0 0 0 0;
  padding: 0 0 0 0;  
  font-size: 16px; 
  line-height: 200%;
  font-style: normal;
  font-weight: 400;
  background-color: #ebe9e6;
}

section{
  background-color: #ebe9e6;
}

header{
  width: 100%; 
}

h2{
  font-weight: 600; 
  padding-top: 2%; 
}

.header-container{
  width: 100%; 
  height: 100vh;
  display: block;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.layer{
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 97%;
  z-index: 7;
}

#lyche-header-logo{
  z-index: 15;
  opacity: 0.9;
  position: relative;
  display: block;
  width: 50%; 
  padding: 15% 25% 15% 25%;
}

.downbtn{
  position: fixed;
  z-index: 40; 
  display: block; 
  top: 85%; 
  right: 45%; 
  left: 45%;
  width: 10%; 
  height: 5%;
  opacity: 0.7;
  font-size: 14px; 
  font-family: inherit; 
}

.cMoreBtn{
  position: relative;
  display: block;
  width: 40%;
  height: 20%; 
  margin: 10% 30% 0 30%; 
  background-color: black;
  opacity: 0.7;
  border: groove 1px #ccc; 
  letter-spacing: 2px;
}

.cMoreBtn a:link{
  text-decoration: none;
  color: #ebe9e6;
}

.cMoreBtn a:hover{
  text-decoration: none;
  color: rgb(99, 98, 98);
}

.cMoreBtn a:visited{
  color: #ebe9e6;
  text-decoration: none;

}


/* Split the screen in half */
.split {
    display: block;
    max-height: 100vh !important;
    min-height: 100vh !important;
    width: 100%;
    position: relative;
    z-index: 0;
    top: 0;
  }

 .left{
  display: inline-block;
  left: 0;
  width: 50%; 
  text-align: center; 

 }
  .left .indextext{
    position: relative;
    width: 60%;
    padding-right: 20%; 
    padding-left: 20%; 
  }

  .left img{
    position: relative;
    width: 100%; 
    max-height: 100vh !important;
    min-height: 100vh !important;
  }

  .textwrap{
    position: relative;
    margin: 20% 20% 10% 20%; 
  }
  
  /* Control the right side */
  .right {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 50%;
    text-align: center; 
  }

  .right .indextext{
    position: relative;
    width: 60%;
    padding-right: 20%; 
    padding-left: 20%; 
  }
  .right img{
    position: relative;
    width: 100%; 
    max-height: 100vh !important;
    min-height: 100vh !important;
  }

  .no{
    display: inherit; 
  }

  .en{
    display: none;
  }

  #epostinfo{
    border: solid 1px black; 
    margin: 10% 0 10% 0;  
  }

 
  /* Style the image inside the centered container, if needed */
/*
  .navbar-push{
    height: 10px; 
  }

  #navBar{
    position:  fixed; 
    background-color: black;
    width: 100%;

    height: 10%; 
    z-index: 10;
  }

  #navBar .container{
    align-content: center ; 
    max-height: 10%; 
    position: inherit;
    align-content: inherit; 

  }
  */

  #session-status{
    color: white
  }

  /*Under: code for navbar*/
  
  .navmain1{
    position: absolute;
    width: 100%; 
    top:0; 
    float: left;
    z-index: 17;
  }

  #hamburgermenu1{
    display: block;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
    color: #ebe9e6;
    z-index: 17;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ebe9e6;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    position: absolute;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: black;
    z-index: 20;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    position: absolute;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: black;
    z-index: 20;
}


ul{
    list-style-type: none;
    display: inline-block;
}

#hamburgercontent1{
    text-transform: uppercase;
    padding-top: 2%;
    width: 15%;
    height: 100vh;
    padding-right: 8%;
    text-align: left !important;
    background-color: #ebe9e6;
    z-index: 17;
    opacity: 0.8;
}

 .navmain #lyche-logo{
    position: absolute;
    display: block;
    float: center; 
    height: 60px; 
    z-index: 67;
 }
 
.hidden {
    display: none;
}
li a:link{
    color: black;
    font-weight: bold;
}

li a:visited{
  color: #000000;
  font-family: Futura-pt, Lato, Trebuchet MS, Arial, sans-serif;

}

li a:hover{
    color: rgb(218, 216, 216);
}


/*Helene navbar*/


#navbar{
  z-index: 1000;
  width: 100vw;
  position: fixed;
  top: 0;
}


#hamburgermenu{
  color: #ebe9e6;
  position: absolute;
  display: block;
  left: 0;
  width: 33%; 
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ebe9e6;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

ul{
  list-style-type: none;
  display: inline-block;
}

#samf-logo-div{
  position: absolute; 
  align-content: center; 
  width: 33%;
  display: block;
  z-index: 67;
  right: 0; 
}

#samflogo{
  width: 18px;
}

#hamburgercontent{
  text-transform: uppercase;
  padding-top: 85px;
  width: 30%;
  height: 100vh;
  padding-right: 20px;
  text-align: left !important;
  background-color: #ebe9e6;
}

#lyche-logo-div{
  position: absolute; 
  align-content: center; 
  width: 33%;
  display: block;
  z-index: 67;
  position: absolute;
  left: calc(50% - 50px);
  
}

.hidden {
  display: none;
}


a:hover{
  color: white;
}

#session-status {
  position: absolute;
  color: white;
  float: right;
  top: calc(50% - 16px);
  right: 35px;
}

#samflogo{
  position: absolute;
  right: 9px;
  display: block;
  width: 18px;
  z-index: 67;
}

.navmain{
  position: relative;
  background-color: black;
  height: 50px;
}

/*End code for navbar*/


/*Kode for contact*/
.samfpiccontainer { 
  position: fixed;
  display: block;
  width: 40%;
  height: 100vh;

  /*hvorfor går ikke bildet helt ut?? hm må ha -1% er dette en varig løsning?
  og hvordan får jeg til at høyden holder seg til 100% av skjermen? må skaleres riktig*/
}

.samfpic{
  height: 100%;
  width: 100%; 
}

.contacttitle {
  position: fixed;
  color: white;
  left: 10%;
  /*få litt lenger ned?*/
}
.split .picturepush{
  display: inline-block;
  left: 0;
  width: 50%; 
}

.split .wrapcontact{
  position: absolute;
  right: 0; 
  display: inline-block;
  width: 50%; 
  margin: 0 0 50% 0; 
  line-height: 60%; 
}

.wrapcontact h2{
  padding-top: 2%; 
}

.break {
  padding-top: 1%;
}

#kart {
  position: relative;
  width: 50%

}

/*End code for contact */

/*Code for meny*/

.menuheader {
	font-family: futura, Lato, Trebuchet MS, Arial, sans-serif;
  position: fixed;
	text-transform: uppercase;
	color: white;
	margin-left: 6%;
	margin-top: 5%;
  font-weight: bold;
}

.menu{
	margin-top: 1%;
	margin-left: 22%;
  margin-right: 5%;
  margin-bottom: 2%; 
	column-count: 2; 
  column-gap: 4%;
	text-align: justify; 
	background-color: #ebe9e6;
	line-height: 170%;

}

.menu h2{
  font-family: futura, Lato, Trebuchet MS, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
}

.menu h4 {
  /*margin:7pt;*/
  padding:2pt;
	line-height: 8px;
  
}

.menu p {
	margin:0;
  padding:0;
  font-size: 20px;
	text-align: justify; 
	/*font-weight: 300; */
}

.en {
	display: none;

}

#salad {
	position: fixed;
	height: 870px;
	width: 280px;
	margin-left: -8px;
	margin-top: -30px;

}

/*end code for menu*/

/*Start code for about */
.headerabout {
	position: fixed;
	text-transform: uppercase;
	margin-left: 6%;
	margin-top: 60px;
}

.about {
	position: absolute;
	margin-left: 10%;
	margin-right: 60%;
    text-align: justify; 
    margin-top: 150px;
    line-height: 170%; 
}

#souschef_about {
	position: fixed;
	height: 105%;
	width: 50%;
	margin-left: 50%;
	margin-top: -10px;
}

/*End code for about */

/*Code for form*/
.split-res {
  display: block;
  height: 100%;
  width: 100%;
}

/* Control the left side */
form {
  display: inline-block;
  position: absolute;
  width: 40%;
  padding-left: 20%; 
  z-index: 1;
  background-color: #ebe9e6;
  height: 100%;
  ;


}

input[type=text], select, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 30px;
    resize: vertical;
    border: 1px solid black;
    border-width: 0 0 1px 0;
    background-color: inherit;
}
label{
    margin-top: 10px;
}

.tableres h1 {
    right: 25%;
    margin-left: 5%; 
}

input[type=submit] {
    background-color: rgb(177, 164, 47);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #dacd5c;
}

input:focus{
    outline: none;
}


/* Control the right side */
.img-res {
display: block;
right: 0;
width: 35%;
position: absolute;
height: 100%;
z-index: 0;
top: 0;
margin-bottom: 0;
padding-bottom: 0;

}


/* Style the image inside the centered container, if needed */
.img-res img{
  position: relative;
  width: 100%; 
}

/*Slideshow*/
.slideshow-container *{box-sizing:border-box}

.slideshow-container {
  z-index: 4;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.mySlides {
  margin: 0 0 0 0; 
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation: fade 5s linear forwards;
  -moz-animation: fade 5s linear forwards;
  animation: fade 5s linear forwards;
}

.fade img{
  width: 100%; 
}

@-moz-keyframes fade {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}


@-webkit-keyframes fade {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}

@keyframes fade {
  0% { opacity: 0.7; }
  50% { opacity: 1; }
  100% { opacity: 0.7; }
}

/*mediaqueries 
image fit

.image {display:none;}

@media screen and (max-width: 940px){ 
  div video {display: none;}
  .image {display: block; width:100%;}
} */



/*Footer css*/


/* Må sette denne inn i alle filene som skal ha footer. 
<div id = "sticky-footer-wrapper">

<div id="sticky-footer-wrapper-footer"></div>
</div>
*/

#sticky-footer-wrapper {
  clear: both;
  height: auto !important;
  margin-bottom: 0;
}

#sticky-footer-wrapper #sticky-footer-wrapper-footer {
  width: 100%;
}

#footer {
  background-color: #111;
  color: #555;
  font-weight: 300;
  font-size: 20px;
  clear: both;
  width: 100%;
}

#footer #footer-wrapper {
  padding-top: 35px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#footer #footer-wrapper #contact-editors {
  text-align: center;
}

#footer #footer-wrapper #social {
  text-align: right;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
}

#footer #footer-wrapper img {
  margin-left: 3px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

#footer #footer-wrapper ul {
  list-style-type: none;
  padding-left: 0;
}

#footer #footer-wrapper #contact {
  text-align: left;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}

#footer #footer-wrapper #contact:last-child {
  margin-right: 0;
}

#footer a {
  text-decoration: none;
  color: #777;
}
a {
  text-decoration: none;
  color: #A03033;
}

#footer #footer-wrapper::after {
  clear: both;
  content: "";
  display: block;
}

#footer #cookies {
  text-align: center;
  font-size: 15px;
  margin-top: 1rem;
}
ul{
  list-style-type: none;
}

/*End code for form*/