/*Main stylesheet for all htmls on the website*/

/*Sets font*/
html{
    font-family: futura-pt, Lato, Trebuchet MS, Arial, sans-serif;
  }
  
  /*making body fill entire screen and setting font properties and bacgroundcolor*/
  body{ 
    margin: 0 0 0 0;
    padding: 0 0 0 0;  
    font-size: 16px; 
    line-height: 200%;
    font-style: normal;
    font-weight: 400;
    background-color: #ebe9e6;
  }

  /*Making header fill width of page*/
  header{
    font-family: futura, Lato, Trebuchet MS, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    width: 100%; 
    font-weight: bold;
  }
  
  /*Setting color on background for all sections*/
  section{
    background-color: #ebe9e6;
  }

  /*Default h2-styling for all pages*/
  h2{
    font-weight: 600; 
    padding-top: 2%; 
  }
  
/*Default list-styling for all pages*/
  ul{
    list-style-type: none;
    display: inline-block;
}

/*Pushing page content down to under navigationbar*/
  #navbarpush{
    height: 50px;
  }

  /*displaying norwegian text*/
  #no{
    display: inherit; 
  }

  /*hiding english text*/
  #en{
    display: none;
  }

