
/*This is just for the title on the page*/
/*Maybe change classname? Bit misleading with header*/
.menuheader {
	font-family: futura, Lato, Trebuchet MS, Arial, sans-serif;
	position: fixed;
	color: white;
	font-weight: bold;
	margin-left: -30pt;

}

/*Content of menu*/
.menu{
	margin-top: 1%;
	margin-left: 24%;
  	margin-right: 7%;
  	margin-bottom: 2%; 
	column-count: 2; 
  	column-gap: 8%;
	text-align: justify; 
	background-color: #ebe9e6;
	line-height: 150%;

}

/*Special for h2 in menu*/
.menu h2{
  	font-family: futura, Lato, Trebuchet MS, Arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
}

/*Undertitles*/
/*Denne burde endres til h3*/
.menu h4 {
  /*margin:7pt;*/
  	padding:2pt;
	line-height: 8px;
  
}

/*Special for paragraphs in menu*/
.menu p {
	margin:0;
  	padding:0;
  	font-size: 20px;
	text-align: justify; 
	/*font-weight: 300; */
}

/*Properties of the image*/
#salad {
	position: fixed;
	height: 870px;
	width: 280px;
	margin-left: -8px;
	margin-top: -30px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

 @media screen and (max-width: 940px){ 
   div video {display: none;}
   .image {display: block; width:100%;}
 } 

 /* If the screen size is 600px wide or less, hide salad image */
@media only screen and (max-width: 600px) {
  #salad {
    display: none;
  }
}