/* navbar */
.navmain{
    position: relative;
    background-color: black;
    height: 50px;
  }

/* div id = navbar, in all html files */
#navbar{
    z-index: 1000;
    width: 100vw;
    position: fixed;
    top: 0;
  }
  
  .div{
    display: block;
  }
  
  #hamburgermenu{
    color: #ebe9e6;
    position: absolute;
    display: block;
    left: 0;
    width: 33%; 
    margin-left: 6px;
  }
  
  /*The bars, color and width*/
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ebe9e6;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /*changing bars*/
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: black;
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: black;
  }
  
  /* hamburgercontent */
  ul{
    list-style-type: none;
    display: inline-block;
  }

  /*text in hamburgercontent*/

  #hamburgercontent{
    text-transform: uppercase;
    padding-top: 85px;
    width: 30%;
    height: 100vh;
    padding-right: 20px;
    text-align: left !important;
    background-color: #ebe9e6;
  }
  
  /* lyche-logo - picture */
  #lychelogo{
    display: block;
    width: 100px;
    z-index: 67;
    position: absolute;
    left: calc(50% - 50px);
  }

  /* link to samfundet.no */
  #samflogo{
    position: absolute;
    right: 9px;
    top: calc(50% - 9px);
    display: block;
    width: 18px;
    z-index: 67;
  }
  
  /* no | en session position*/
  #session-status {
    position: absolute;
    float: right;
    top: calc(50% - 16px);
    right: 35px;
  }
  
  /* links in session */
  a:link {
    text-decoration: none;
    color: white;
  }
  
  a:hover{
    font-weight: bolder;
  }
  
  /* class for hidden */
  .hidden {
    display: none;
  }
  
  