/* Splitting the screen in half */

/*Defining main split style*/
.split {
    display: block;
    max-height: 100vh !important;
    min-height: 100vh !important;
    width: 100%;
    position: relative;
    z-index: 0;
    top: 0;
  }

  /*Left content in splitside*/
 .left{
  display: inline-block;
  left: 0;
  width: 50%; 
  text-align: center; 

 }

 /*text on the left*/
  .left .indextext{
    position: relative;
    width: 60%;
    padding-right: 20%; 
    padding-left: 20%; 
  }

  /*img on the left*/
  .left img{
    position: relative;
    width: 100%; 
    max-height: 100vh !important;
    min-height: 100vh !important;
  }

  /*wrapping the text to get desired positioning*/
  .textwrap{
    position: relative;
    margin: 20% 20% 10% 20%; 
  }
  
  /* Control the right side */
  .right {
    position: absolute;
    display: inline-block;
    right: 0;
    width: 50%;
    text-align: center; 
  }

  /*Text on the right side*/
  .right .indextext{
    position: relative;
    width: 60%;
    padding-right: 20%; 
    padding-left: 20%; 
  }
  /*Img on the right side*/
  .right img{
    position: relative;
    width: 100%; 
    max-height: 100vh !important;
    min-height: 100vh !important;
  }