html{
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

body{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    text-align: justify;
    font-size: 16px; 
    line-height: 200%;

}

img{
    position: relative;
    width: 100%;
}

h1{
    font-size: 26px; 
}

h2{
    font-size:22px; 
}

h3{
    font-size: 20px; 
}

p, ul, ol{
    color: #505050; 
}
