html{
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    background-color: #f2efef;
    
}

body{
    padding: 0 0 0 0; 
    margin: 0 0 0 0; 
    height: 100%;
    width: 100%; 
}

section{
    width: 100%;
    padding: 0 ;
    display: inline-block; 
    margin: 0; 
    max-width: none;
    height: 100vh;
}


.samfpiccontainer { 
    position: fixed;
    display: block;
    width: 40%;
    height: 100vh;

    /*hvorfor går ikke bildet helt ut?? hm må ha -1% er dette en varig løsning?
    og hvordan får jeg til at høyden holder seg til 100% av skjermen? må skaleres riktig*/
}

.samfpic{
    height: 100%;
    width: 100%; 
}

.contacttitle {
    position: fixed;
    color: white;
    left: 10%;
    /*få litt lenger ned?*/
}

    .split{
        display: inline-block;
        max-height: 100vh !important;
        min-height: 100vh !important;
        width: 100%;
        z-index: 0;
        top: 0;
    }

    .split .picturepush{
        display: inline-block;
        left: 0;
        width: 50%; 
    }

    .split .wrapcontact{
        position: absolute;
        right: 0; 
        display: inline-block;
        width: 50%; 
        margin: 0 0 50% 0; 
        line-height: 75%; 
    }

    .wrapcontact h2{
        padding-top: 2%; 
    }

    .break {
        padding-top: 1%;
    }

    #kart {
        position: relative;
        width: 50%

    }


.en{
    display: none; 
}