/* Split the screen in half */
.split {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .indextext {
    position: relative;
    width: 50%;
    left: 0;
    background-color: #ebe9e6;
  }
  
  /* Control the right side */
  .indeximg {
    position: relative;
    width: 50%;
    right: 0;
  }

  
  .en{
    display: none;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }