/* Split the screen in half */
html{
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  background-color: #ebe9e6;

}

body{ 
  font-size: 16px; 
  line-height: 200%;
  font-style: normal;
  font-weight: 400;
  background-color: #ebe9e6;

}

section{
  width: 100%;
}
.split {
    display: block;
    padding-top: 5%; 
    height: 100vw;
    width: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    
  }
  
  /* Control the left side */
  .indextext {
    display: inline-block;
    position: relative;
    width: 30%;
    padding-right: 10%; 
    padding-left: 10%; 
    left: 0;

  }
  
  /* Control the right side */
  .indeximg {
    display: inline-block;
    right: 0;
    width: 50%;
    position: absolute;

  }

  .en{
    display: none;
  }
  
  
  /* Style the image inside the centered container, if needed */
  img{
    position: relative;
    width: 100%; 
  }

  #navBar{
    background-color: black;
    width: 100%;
    position:  fixed; 
    height: 5%; 
    z-index: 10;

  }